.registration-view {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding-top: 30px;
}

.reg-photo {
  max-width: 400px;
  box-shadow: 25px -25px 0 0 rgb(2, 11, 92);
}

.reg-description {
  margin-top: 0px;
  width: 90%;
}

.reg-description-header {
  margin-top: 30px;
  margin-bottom: 5px;
  width: 90%;
}