.registration-view {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding-top: 30px;
  max-width: 1020px;
}

.mission {
  text-align: left;
  width: 50%;
  align-self: center;
  margin-left: 40px;
}


.reg-photo, .reg-photo-2 {
  max-height: 400px;
}


.reg-description {
  margin-top: 0px;
  width: 90%;
}

.emphasis {
  font-weight: bold;
  font-family: 'Dancing Script', cursive;
  font-size: 28px;
}

.reg-description-header {
  margin-top: 30px;
  margin-bottom: 5px;
  width: 90%;
  font-size: 42px;
  font-family: 'Dancing Script', cursive;
}


@media screen and (max-width: 480px) and (min-width: 310px){

  .registration-view {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding:  0;
    max-width: 90vw;
  }

  .registration-form{
    padding: 0 0 30px 0;
  }

  .reg-photo-container{
    margin-bottom: 0px;
    padding-bottom: 0px;
  }

  .reg-photo {
    max-width: 200px;
  }

  .reg-photo-2 {
    display: none;
  }

  .mission {
    text-align: left;
    width: 100%;
    align-self: center;
  }
}

@media screen and (max-width: 1020px) and (min-width: 481px){

  .registration-view {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding-top: 30px;
  }
  
  .mission {
    text-align: left;
    width: 100%;
    margin: 0 20px 0 20px;
    align-self: center;
  }
  
  .registration-form{
    padding: 0 0 30px 0;
  }

  .reg-photo {
    max-width: 220px;
  }
  
  .reg-photo-2 {
    display: none;
  }
  
  .reg-description {
    margin-top: 0px;
    width: 90%;
  }
  
  .reg-description-header {
    margin-top: 30px;
    margin-bottom: 5px;
    width: 90%;
  }
  
}