.registration-form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 10px;
  width: 350px;
  justify-content: center;
}

.regLabel {
  text-align: left;
  width: 55%;
 
}

.registration-input {
padding: 2%;

}

.registration-input-field {
  height: 20px;
}

.registration-form > p {
  padding-top: 10px;
  text-align: center;
  margin: auto;
}
.user-button {
  border-radius: 5px;
  border: 1px solid white;
  width: 50%;
  margin: 0 auto;
  margin-top: 2%;
  padding: 2%;
  background-color: rgb(2, 16, 63);
  color: white;
}
.user-button:hover{
  background-color: rgb(24, 16, 104)

}
a {
  display: inline-block;
  margin: auto;
}