.registration-form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 10px;
  width: 350px;
  justify-content: center;
}

.regLabel {
  text-align: left;
  width: 55%;
  /* margin-right: 5px; */
}

.registration-input {
/*   margin-bottom: 10px;
 */}

.registration-form > p {
  padding-top: 10px;
  text-align: center;
  margin: auto;
}
.user-button {
  border-radius: 5px;
  border: 1px solid white;
  width: 50%;
  margin: 0 auto;
  padding: 2%;
}
a {
  display: inline-block;
  margin: auto;
}