* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  background-color: rgb(255, 255, 255);
}

main {
  background-color: rgb(255, 255, 255);
  min-height: 100vh;
}

.error {
  font-weight: bold;
  color: red;
  margin: 0;
}
