.Link {
  margin: auto;
}
.login-form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 20px;
  width: 350px;
  justify-content: flex-start;
  margin: 0 auto;
  background-color: rgb(228, 228, 228);
  border: 0px solid rgb(168, 168, 168);
  border-radius: 20px;
  box-shadow: 0 0px 0 #e0e0e0 inset, 0px 0px 3px rgba(0, 0, 0, 0.94) inset;
}

.loginLabel {
  padding: 2%;
}

.login-input {
  padding: 2%;
}

.login-final-button{
  z-index:10;
}

@media screen and (max-width: 2560px) and (min-width: 450px) {
  .login-input {
    width: 300px;
    margin: 0 auto;
    padding: 2%;
  }
}
