.symptom-container{
  display: flex;
  border-radius: 5px;
  background: rgb(255, 255, 255);
  flex-direction: column;

  margin: auto;
  min-width: 200px;
  max-width: 100%;
  font-size: 1.0em;
}
.severity-active{
 background-color: rgba(255,255,0,1)
}
#submit-button{
  text-align: center;
}

.symptom-error{
  color: red;
  margin: 0;
  text-align: center;
}

.user-button{
  padding: 15px;
}

#select{
  padding: 15px;
}

#date{
  padding: 20px;
}

#user-symptom{
  font-size: 1.0em;
}

#user-input-container{
  padding: 15px;
}

#date-select{
  text-align: center;
  font-size: 1.0em;
}

#severity-radio{
  padding: 0px 20px;
}

#symptom-select{
  border-radius: 3px;
  margin: 10px 0px;
  height: 35px;
  width: 60%;
}

.radio-container{
  display: relative;
  padding: 0px;
  display: flex;
  align-items: center;
  width: 100%;
}


.radio-label{
  padding: 0px 20px 0px 20px;
  font-size: 1.2em;
}

#radio-label{
  line-height: 60px;
  padding: 10px 0 0 20px;
  margin: 20px 0 0 0;
}

#severity-desc{
  display: flex;
  justify-content: center;
  padding: 10px 0 0 0;
}


input[type='radio'] {
  display: flex;
  
  opacity: 0.5;
  -webkit-appearance:none;
  width:20px;
  height:20px;
  border:1px solid black;
  border-radius:50%;
  outline:none;
  box-shadow:0 0 5px 0px black inset;
}
input[type='radio']:hover {
  box-shadow:0 0 5px 0px white inset;
}
input[type='radio']:before {
  content:'';
  display: block;
  width: 100%;
  height: 75%;
  margin: 20% auto;    
  border-radius:50%;    
}
input[type='radio']:checked:before {
  background:black;
}

#radio-1.radio-input, #radio-2.radio-input, #radio-3.radio-input, #radio-4.radio-input, #radio-5.radio-input{
  opacity: 0.01;
  position: absolute;
  left: 50%;
}


#radio-1{
  flex-grow: 2;
  margin-right: 10px;
}

.radio-buttons-1{
  
  flex-grow: 2;
  color: black;
  background-color:yellow;
  padding: 8px 2px 0 2px;
  border-radius: 50px;
}

.radio-buttons-2{
  flex-grow: 2;
  color: black;
  background-color: gold;
  padding: 8px 2px 0 2px;
  border-radius: 50px;
}
.radio-buttons-3{
  flex-grow: 2;
  color: black;
  background-color: orange;
  padding: 8px 2px 0 2px;
  border-radius: 50px;
}
.radio-buttons-4{
  flex-grow: 2;
  color: black;
  background-color: orangered;
  padding: 8px 2px 0 2px;
  border-radius: 50px;
}
.radio-buttons-5{
  flex-grow: 2;
  color: black;
  background-color: red;
  padding: 8px 2px 0 2px;
  border-radius: 50px;
}

.wong-severity{
  padding: 5px;
  height: 89px;
  max-width: 420px;
}

.face{
  width: 50px;
  height: 50px;
}



@media screen and (max-width: 500px){
  #select-preexisting{
  width: 75%;
  }

  .symptom-container{
    border-radius: 5px;
    background: rgb(255, 255, 255);
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 10px 10px 10px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    align-items: center;
  }

  #user-symptom{
    background-color:white;
  }
  .react-datepicker, .react-datepicker__ .react-datepicker__header, .react-datepicker__month-container {
    max-width: 100vw
  }
  
  .user-button{
    padding: 5px 10px 5px 10px;
    width: 150px;
  }
  
  .radio-container{
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  #radio-1{
    margin-right: 4px;
  }

  .radio-label{
    padding: 0px 20px 0px 20px;
  }
  
  .radio-buttons-1{
    color: black;
    background-color:black;
  }
  
  .radio-buttons-2{
    color: black;
    background-color: gold;
  }
  .radio-buttons-3{
    color: black;
    background-color: orange;
  }
  .radio-buttons-4{
    color: black;
    background-color: orangered;
  }
  .radio-buttons-5{
    color: black;
    background-color: red;
  }
  
  .wong-severity{
    padding: 5px;
    height: 70px;
    width: 100%;
  }

  .radio-label{
    padding: 0px 0px 0px 0px;
    margin: 1px;
  }
  
  #radio-label {
    padding: 0px 0 0 0px;
  }
  
  #severity-desc{
    display: flex;
    justify-content: center;
    padding: 10px 0 0 0;
  }


}

input{
  padding: 5px;
  border-radius: 5px;
  border: 1px solid rgb(123, 123, 123)
}


@media screen and (max-width: 400px){

  .symptom-container{
    max-width: 100%;
   padding: 0px;
  }
  #user-input-container, #select, #date{
    padding:1%;
  }
  #user-symptom, #date-select, #select-preexisting{
    width: 60%;
  }
  .react-datepicker, .react-datepicker__header {
    max-width: 100vw;
  }
  .react-datepicker__navigation{
    position: relative;
  
  }
  .react-datepicker__navigation--previous{
    margin-right: 40%;
  }
  .react-datepicker__navigation--next{
    margin-left: 40%;
  
  }

  .radio-container{
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
  }

  #radio-1{
    margin-right: 4px;
  }

  .radio-label{
    padding: 0px 20px 0px 20px;
  }
  
  .radio-buttons-1{
    color: black;
    background-color: yellow;
  }
  
  .radio-buttons-2{
    color: black;
    background-color: gold;
  }
  .radio-buttons-3{
    color: black;
    background-color: orange;
  }
  .radio-buttons-4{
    color: black;
    background-color: orangered;
  }
  .radio-buttons-5{
    color: black;
    background-color: red;
  }
  
  .wong-severity{
    padding: 5px;
    height: 50px;
    max-width: 100%;
  }

  .radio-label{
    padding: 0px 0px 0px 0px;
    margin: 1px;
  }
  
  #radio-label {
    padding: 0px 0 0 0px;
  }
  
  #severity-desc{
    display: flex;
    justify-content: center;
    padding: 10px 0 0 0;
  }
}

#severity-desc{
  margin: 0 auto;
}

@media screen and (min-width: 501px){
  #select-preexisting{
  width: 75%;
  }

  .symptom-container{
    border-radius: 5px;
    background: rgb(255, 255, 255);
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 10px 10px 10px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    align-items: center;
  }

  #user-symptom{
    background-color:white;
  }
  .react-datepicker, .react-datepicker__ .react-datepicker__header, .react-datepicker__month-container {
    max-width: 100vw
  }
  
  .user-button{
    padding: 5px 10px 5px 10px;
    width: 150px;
  }
  
  .radio-container{
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  #radio-1{
    margin-right: 4px;
  }

  .radio-label{
    padding: 0px 20px 0px 20px;
  }
  
  .radio-buttons-1{
    color: black;
    background-color: rgba(255,255,0,0);
  }
  
  .radio-buttons-2{
    color: black;
    background-color: gold;
  }
  .radio-buttons-3{
    color: black;
    background-color: orange;
  }
  .radio-buttons-4{
    color: black;
    background-color: orangered;
  }
  .radio-buttons-5{
    color: black;
    background-color: red;
  }
  
  .wong-severity{
    padding: 5px;
    height: 70px;
    width: 340px;
  }

  .radio-label{
    padding: 0px 0px 0px 0px;
    margin: 1px;
  }
  
  #radio-label {
    padding: 0px 0 0 0px;
  }
  
  #severity-desc{
    display: flex;
    justify-content: center;
    padding: 10px 0 0 0;
  }
}