.add-meal-div {
  /*   box-sizing: border-box; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-width: 300px;
  max-width: 100%;
  margin: 0 auto;
  background-color: rgb(255, 253, 253);
}
/* .add-meal-form {
  padding: 2%;
  
} */
/* .add-meal-labels {
  padding: 2%;
  color: rgb(0, 0, 87);
} */

.react-datepicker__input-container {
  display: inline-block;
}

.InlineBlockTheDate {
  display: inline-block;
}

.AddMealFoodsDisplayContainer {
}
.AddMealFoodsDisplayRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.AddMealFoodsDisplayRow>div {
  word-break: normal;
  word-wrap: normal;
  display: inline-block;
}
.AddMealFoodsDisplayInfo{
  flex-basis: 60%;
  flex-grow: 1;
}
.AddMealFoodsDisplayManu {
  font-weight:550;
}
.AddMealFoodsDisplaySpace {
  flex-basis: 20px;
  flex-grow: 1;
}
.AddMealFoodsDisplayRemove {
  flex-grow: 0;
  height: 25px;
  color: red;
}
#AddMealNameInput, #AddMealDateInput, #searchTermInput {
  font-size: 1.2em;
  margin: 1%;
}

#add-meal-button{
  width: 25%;
}
#remove-food-button{
  width: 25%;
  padding: 1%;
  background-color: rgb(255, 255, 255)
}
#remove-food-button:hover{
background-color: rgb(150, 0, 0);
}

.remove-trash-can{
  width: 40px;
  height: 50px;
}

@media screen and (max-width: 500px){
  #AddMealNameInput, #AddMealDateInput, #searchTermInput {
    max-width: 190px;
    font-size: 1em;
  }
  .AddMealFoodsDisplayContainer, .AddFoodDiv {
    max-width: 200px;
  }
  #add-meal-button {
    width: auto;
    font-size: 1em;
  }
  #search-food-button {
    padding: 1%;
    font-size: 1em;
  }
}
