.add-meal-div {
  display: flex;
  width:100%;
  flex-direction: column;
  max-width: 100%;
  text-align: center;
  overflow: auto;
  padding-bottom:10px;
}

.react-datepicker__input-container .InlineBlockTheDate  {
  display: inline-block;
}

.AddFoodSearchResultsManu, .AddFoodSearchResultsName {
  display: block;
  width: 90%;
  text-align: left;
  padding-left: 5px;
}
.AddMealFoodsDisplayRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.AddMealFoodsDisplayRow>div {
  word-break: normal;
  word-wrap: normal;
  display: inline-block;
}
.AddMealFoodsDisplayInfo{
  flex-basis: 60%;
  flex-grow: 1;
}
.AddMealFoodsDisplayManu {
  font-weight:550;
  text-align: left;
  padding-left: 5px;
}

.AddMealFoodsDisplayName {
  text-align: left;
  padding-left: 5px;
}
.AddMealFoodsDisplaySpace {
  flex-basis: 20px;
  flex-grow: 1;
}
.AddMealFoodsDisplayRemove {
  flex-grow: 0;
  height: 25px;
  color: red;
}
#AddMealNameInput, #AddMealDateInput, #searchTermInput,#brandTermInput {
  font-size: 1.2em;
  margin: 1%;
}

.add-meal-button{
  width: 25%;
}

#back-button{
  margin: 1%;
  color: rgb(0, 0, 0);
  background: linear-gradient(rgb(255, 255, 255), rgb(175, 175, 175));
  border: 1px solid rgb(68, 68, 68);
  border-radius: 5px;
  width: 60px;
  height: 25px;
  
}

#remove-food-button{
  width: 80px;
  padding: 0px;
  margin: 0px;
  background-color: rgb(255, 255, 255);
  transition: all 1s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}

#remove-food-button:hover{
  transform: rotateY(180deg);
}

.remove-trash-can{
  width: 20px;
  height: 23px;
}
.AddFoodSearchResults{
  height: 270px;
  overflow:auto;
  padding: 0 1px;
} 
.AddMealFoodsDisplayContainer{
  overflow: auto;
  max-height: 300px;
}
#AddMealNameInput, #AddMealDateInput, #searchTermInput,#brandTermInput {
    max-width: 190px;
    font-size: 1em;
  }

  #add-meal-button {
    width: auto;
    font-size: 1em;
  }
  #search-food-button {
    padding: 1%;
    font-size: 1em;
    display:block;
  }

@media screen and (min-width: 800px){
  #search-food-button {
    padding: none;
    font-size: 1em;
    display:block;
  }
  .add-meal-div {
    /*   box-sizing: border-box; */
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin:none;
    text-align: center;
    overflow: auto;
  }
  #back-button{
    margin: 1%;
    border-radius: 5px;
    width: 60px;
    height: 25px;
  }
}
