.dashboard-content {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  padding-left: 1%;
  padding-right: 1%;
}

.event-text-section { display: inline-block; word-break: break-word; }

.log-container {
  display: inherit;
  flex-direction: column;
  width: 100%;
}

.event-text-section {
  display: inline-block;
  word-break: break-word; 
}

#dash-button-container {
  display: inherit;
  flex-direction: row;
  align-content: space-between;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 2%;
}

#user-welcome {
  text-align: left;
  margin: 2%;
}

.events > li {
  color: rgb(24, 22, 22);
  border: 2px solid black;
  width: fit-content;
}

.dash-event-container-symptom {
  border:2px solid #f15e3d;
  margin:1%;
  border-radius:10px;
  text-align: left;
  padding: 2%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.dash-event-container-meal {
  border:2px solid #558AA4;
  margin:1%;
  border-radius:10px;
  text-align: left;
  padding: 2%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.expand-toggle {
  top: 8px;
  right: 45px;
  border: none;
  background-color: transparent;
  font-size: 18px;
  font-weight: bold;
  color: rgb(22, 86, 184);
}

 .meal-toggle-cont{
  text-align: right;
  padding: 0px;
  margin-right: -6px;
  display: inline-block;
  width: 60px;
  height: 100%;
 }

 .dash-event-text {
  display: inline-block;

    max-width: 75%;

}

.expanded-food-event {
  display: block;
  width: 100%;
}

.delete-event {
  top: 8px;
  right: 15px;
  margin-left:2px;
  border: none;
  background-color: transparent;
}
.ingredients-expand {
  margin-left: 5px;
  border: 1px solid black;
  background-color: transparent;
}

.food-info-in-dash {
  display: block;
  margin: 0px 3px 0px;
}

.food-item-in-dash {
  margin-bottom: 5px;
  color: rgb(31, 27, 27);
  padding: 0;
  display: block;
  width: 100%;
  display: flex;
  flex-flow: column ;
  justify-content: flex-start;
  align-items: left;
}
.new-meal,
.new-symptom,
.print-button {
  background-color: rgb(255, 255, 255);
  color: black;
  font-weight: bold;
  padding: 1%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.new-meal:hover,
.new-symptom:hover,
.print-button:hover {
  border: 1px solid rgb(151, 151, 151);
  background-color: rgb(255, 255, 255);
}

.ingredients-list-in-dash {
  margin: 0px;
  padding: 0;
}

.food-info-in-dash {
  padding: 0;
}

li {
  list-style-type: none;
}

.events-list {
  margin: 0 auto;
}

.Modal {
  z-index: 3;
  display: flex;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: white;
}

.Modal_Overlay{
  z-index: 2;
  width:100%;
  height:100%;
  position: fixed;
  top:0px;
  background-color: rgba(0,0,0,0.5)
}

.symptom-modal {
  opacity: 0.5;
}

.button-logo {
  width: 20px;
  padding-right: 5px;
}

.dashboard-content {
  align-items: center;
  flex-direction: column;
}

.new-symptom{
  z-index: 1;
  position: fixed;
  height:40px;
  width:25%;
  bottom:2%;
  right:15%;
}

.new-meal{
  width:25%;
  z-index: 1;
  position: fixed;
  height:40px;
  bottom:2%;
  left:12%;
}

.new-symptom > img,
.new-meal >img{
  height:25px;
  width: 25px;
  color:white;
}

.exitButton{
  color:red;
  font-size: 26px;
  position: absolute;
  right:25px;
  top:-7px;
}

@media screen and (min-width: 760px) {
  .new-meal{
    z-index: 1;
    position: static;
    height:50px;
    bottom:10px;
  }
  .new-symptom{
    z-index: 1;
    position: static;
    height:50px;
    bottom:10px;
  }
 }

@media screen and (min-width: 500px) {
  #dash-button-container {
    display: inherit;
    flex-direction: row;
    align-content: space-between;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 2%;
  }
  

  .events-list {
    margin: 0 auto;
  }

  .dashboard-content {
    padding: 1% 1% 1% 1%;
    margin: 0 0%;
  }

  

  #user-welcome {
    text-align: left;
    padding: 0 0 0 10px;
  }
}

@media screen and (min-width: 800px) {

  .Modal {
    overflow: auto;
    display: flex;
    position: fixed;
    top: 15%;
    left: 15%;
    right: 15%;
    bottom: 15%;
    background-color: white;
  }
  .log-container {
    flex-basis: 50%;
  }

  .dashboard-content {
    flex-direction: row-reverse;
    align-items: flex-start;
    padding: 15px;
  }
}

.print-container {
  display: none;
}

@media print {
  #user-welcome,
  header,
  #results,
  .delete-event,
  .events,
  .new-meal,
  .new-symptom,
  .print-button,
  #results-button {
    display: none;
  }
  .dashboard-content {
    flex-direction: column;
  }

  .print-container {
    display: block;
    text-align: left;
  }
  .food-ingredient-print,
  .meal,
  .symptom {
    list-style-type: disc;
    margin: 0;
  }
  .log-container {
    width: 100%;
  }
}
