.user-dashboard{
  display: flex;
  flex-direction: column;
}

#dash-button-container {
  display: inherit;
  flex-direction: row;
  align-content: space-between;
  width: 50%;
  margin: 0 auto;
  padding-bottom: 2%;
}
#user-welcome {
  text-align: left;
  padding-left: 3%;
}
/* #user-name{
  color: blue;
  
} */
/* #meal-button{
  background-color: rgb(255, 123, 0);;
}
#symptom-button{
  background-color: rgb(54, 1, 54);
} */
.meal{
  background-color: #49797B;
}
.symptom{
  background-color: #7B4A48;
}
.events > li {
  color:white;
  border: 2px solid black;
  width:fit-content;
  
}
li {
  list-style-type: none;
  color: white;
  padding: 2%;
  
}
.events-list {
  width: 50%;
  margin: 0 auto;
}

.Modal{
  display: flex;
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  background-color: white;
  
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(224, 224, 224); 
  
} 

.symptom-modal{
  opacity: 0.5;
}

.dashboard-content {
  background-image: url('../../Media/dash-background.jpg');
  background-size: cover;
  padding: 5%;
  margin: 0 5%;
}
