.entire-dashboard-div{

}
.dashboard-content {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  padding-left: 5%;
  padding-right: 5%;
  
}

.log-container {
  display: inherit;
  flex-direction: column;
  width: 75%;
}

#dash-button-container {
  display: inherit;
  flex-direction: row;
  align-content: space-between;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 2%;
}

#user-welcome {
  text-align: left;
  margin: 2%;
}

.events > li {
  color: rgb(24, 22, 22);
  border: 2px solid black;
  width: fit-content;
}

.dash-event-container-symptom {
  border:2px solid #f15e3d;
  margin:1%;
  border-radius:10px;
  text-align: left;

}
.dash-event-container-meal {
  text-align: left;
  border:2px solid #558AA4;
  margin: 1%;
  border-radius:10px

}
.expand-toggle {
  top: 8px;
  right: 45px;
  border: none;
  background-color: transparent;
  font-weight: bold;
  color: rgb(22, 86, 184);
/*   padding-right: 20%;
 */}

 .meal-toggle-cont{

 }
.delete-event {
  top: 8px;
  right: 15px;
  margin-left:2px;
  border: none;
  background-color: transparent;
}
.ingredients-expand {
  margin-left: 5px;
  border: 1px solid black;
  background-color: transparent;
}

.food-item-in-dash {
  margin-bottom: 5px;
  padding: 0;
}
.exp-hide-btn{
  
}
.new-meal,
.new-symptom,
.print-button {
  background-color: rgb(255, 255, 255);
  color: black;
  font-weight: bold;
  padding: 1%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.new-meal:hover,
.new-symptom:hover,
.print-button:hover {
  border: 1px solid rgb(151, 151, 151);
  background-color: rgb(255, 255, 255);
}

.ingredients-list-in-dash {
  margin: 0px;
  padding: 0;
}

.food-info-in-dash {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  color: rgb(31, 27, 27);
  padding: 2%;
}
.events-list {
  margin: 0 auto;
}

.Modal {
  display: flex;
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  background-color: white;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(224, 224, 224);
}

.symptom-modal {
  opacity: 0.5;
}
.button-logo {
  width: 20px;
  padding-right: 5px;
}
@media screen and (max-width: 800px) {
  .dashboard-content {
    align-items: center;
    flex-direction: column;
  }
}

@media screen and (max-width: 500px) {
  #dash-button-container {
    display: inherit;
    flex-direction: row;
    align-content: space-between;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 2%;
  }

  .events-list {
    width: 100%;
    margin: 0 auto;
  }

  .dashboard-content {
    padding: 1% 0 1% 0;
    margin: 0 0%;
  }

  #user-welcome {
    text-align: left;
    padding: 0 0 0 10px;
  }
}

.print-container {
  display: none;
}

@media print {
  #user-welcome,
  header,
  #results,
  .delete-event,
  .events,
  .new-meal,
  .new-symptom,
  .print-button,
  #results-button {
    display: none;
  }
  .dashboard-content {
    flex-direction: column;
  }

  .print-container {
    display: block;
    text-align: left;
  }
  .food-ingredient-print,
  .meal,
  .symptom {
    list-style-type: disc;
    margin: 0;
  }
  .log-container {
    width: 100%;
  }

  /*   .symptom, .meal {
    /* font-weight: bold; */
}
