a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  display: block;
  text-align: right;
}

#main-title {
  text-align: left;
  border: none;
  font-size: 40px;
  font-family: "Dancing Script", cursive;
  color: black;
  position: relative;
  top: -5px;
}

.current-nav {
  font-weight: 800;
  background-color: rgb(8, 59, 88);
  border-radius: 6px;
  /* text-shadow: 0 0 8px rgb(4, 34, 51); */
}
.user-container {
  padding-right: 2%;
  width: 100%;
  margin: 0 auto;
  font-weight: bold;
}
.Header {
  display: flex;
  width: 40%;
  margin: 0 0 0 10px;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 80vw;
  height: 110px;
  margin-left: 10px;
  background-color: rgb(11, 76, 114);
  color: white;
  border-radius: 0px 0px 0px 25px;
}

header {
  padding: 0px;
  font-size: 20px;
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 0px;
}

.user-container {
  text-align: right;
}

.LoginLogout {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  font-size: 20px;
}

#logoutlink {
  color: white;
  margin: auto;
}

#logoutlink:hover {
  color: white;
}

#loginlink,
#dashlink,
#aboutlink {
  padding: 15px 10px;
  color: white;

}

#aboutlink {
  margin: auto;
}

#signuplink {
  padding: 15px 10px;
  color: white;
  margin: 0 auto;
}

.header-photo {
  width: 90px;
  height: 100px;
  margin: -10px 0px 0px -10px;
}

@media screen and (max-width: 420px) and (min-width: 310px) {
  .header-photo {
    width: 60px;
    height: 70px;
    margin: -10px 0px 0px -5px;
  }

  header {
    padding: 0px;
    margin: 10px 0 0 0;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    flex-direction: column;
  }

  .LoginLogout {
    padding: 10px;
    font-size: 20px;
  }

  .Header {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin-left: 0px;
  }

  #loginlink,
  #dashlink,
  #aboutlink {
    padding: 5px 5px;
    color: white;
    margin: auto;
  }

  #signuplink {
    padding: 5px 5px;
    color: white;
    margin: 0 20px 0 20px;
  }

  #aboutlink {
    margin: auto;
  }

  #logoutlink {
    margin: auto;
  }

  #main-title {
    text-align: center;
    white-space: nowrap;
    border: none;
    font-size: 36px;
    font-family: "Dancing Script", cursive;
    color: black;
    margin: 0 5px 0 0;
  }

  .nav-container {
    display: flex;
    justify-content: space-around;
    padding: 0px;
    width: 100vw;
    height: 50px;
    margin: 0px 0px 0px 0px;
    border-radius: 0px;
  }

  .registration-form {
    margin-top: 50px;
  }
}

@media screen and (min-width: 421px) and (max-width: 1020px) {
  .header-photo {
    width: 80px;
    height: 90px;
    margin: -20px 0px 0px 5px;
  }

  .LoginLogout {
    padding: 10px;
    font-size: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .Header {
    width: 80%;
    margin: 0 0 0 10px;
  }

  #loginlink,
  #dashlink,
  #aboutlink {
    padding: 15px 10px;
    color: white;
  }

  #signuplink {
    padding: 15px 10px;
  }

  #logoutlink {
    margin: 0 auto;
  }

  #aboutlink {
    margin: 0 auto;
  }

  #main-title {
    text-align: left;
    border: none;
    font-size: 36px;
    font-family: "Dancing Script", cursive;
    margin-left: 10px;
    position: relative;
    top: -10px;
  }

  header {
    margin: -2px -5px 0px 0px;
    padding: 0px;
    font-size: 20px;
    display: flex;
    align-items: center;
    width: 100%;
  }

  .nav-container {
    display: flex;
    align-items: center;
    padding: 0px;
    width: 100vw;
    height: 118px;
    margin: 0px -1px 0px 0px;
  }
}
