a{
  text-decoration: none;
  color: rgb(0, 0, 0);
  display:block;
  text-align: right;
}


#main-title{
  text-align:left;
  border:none;
  font-size: 36px;
  font-family: 'Dancing Script', cursive;
  color: black;
}

.nav-container{
    /* border: 1px solid grey; */
    padding: 0px;
    width: 100%;
    margin: 0 auto;
    margin-top: -5%;
  }
.user-container{
 padding-right: 2%;
  width: 100%;
  margin: 0 auto;
  font-weight: bold;

}
#logoutlink{
  color: white;
}
#logoutlink:hover{
  color: #002ba0
}
.Header {
/* border: 2px solid black; */
  width: 40%;
  padding-left:1%;
  margin: 0px;
}

.nav-container{
  /* border: 1px solid grey; */
  padding: 0px;
  width: 100vw;
  height: 110px;
  margin: 0 auto;
  background-color: #2274A5;
  color: white;
  border-radius: 0px 0px 0px 10px;
}

header {
  margin: 0px;
  padding: 0px;
  font-size: 20px;
  display: flex;
  align-items: center;
  width: 100%;
}

#user-name{
  font-size: 27px;
  color: #3369ff;
}

.user-container{
  text-align: right;
}

#box {
  display: block;
  position: absolute;
  background-color: #798630;
  top: 87px;
  right: 0px;
  width: 500px;
  height: 100px;
  z-index: -1;
}

.LoginLogout{
  padding: 10px;
  font-size: 20px;
  display: flex;
  justify-content: flex-end;
}

#loginlink{
  padding: 28px 10px;
  color: white;
}

#signuplink{
  padding: 0px 10px;
  color: white;
}

@media screen and (max-width: 380px) and (min-width: 310px){

  .LoginLogout{
    padding: 10px;
    font-size: 20px;
    display: flex;
    justify-content: flex-end;
    
  }
  
  .Header{
  width: 80%;
  padding-left: 1%;
  }
  
  #loginlink{
    padding: 28px 10px;
    color: white;
  }

  #signuplink{
    padding: 0px 10px;
    color: white;
  }

  #logoutlink{
    margin-right: 5px;
  }

  #main-title{
    text-align:left;
    border:none;
    font-size: 36px;
    font-family: 'Dancing Script', cursive;
    color: black;
    margin-left: 10px;
  }

  header {
    padding: 0px;
    font-size: 20px;
    display: flex;
    align-items: center;
    width: 100%;
  }

  .nav-container{
    padding: 0px;
    width: 100vw;
    height: 118x;
    margin: -10px -1px 0px 0px;
  }
 
} 

@media screen and (min-width: 381px) and (max-width: 950px){

  .LoginLogout{
    padding: 10px;
    font-size: 20px;
    display: flex;
    justify-content: flex-end;
    
  }
  
  .Header{
  width: 80%;
  padding-left: 1%;
  }
  
  #loginlink{
    padding: 28px 10px;
    color: white;
  }

  #signuplink{
    padding: 0px 10px;
  }

  #logoutlink{
    margin-right: 5px;
  }

  #main-title{
    text-align:left;
    border:none;
    font-size: 36px;
    font-family: 'Dancing Script', cursive;
    margin-left: 10px;
  }

  header {
    margin: -2px -5px 0px 0px;
    padding: 0px;
    font-size: 20px;
    display: flex;
    align-items: center;
    width: 100%;
  }


  .nav-container{
    padding: 0px;
    width: 100vw;
    height: 118px;
    margin: 0px -1px 0px 0px;
      }

  
 
} 

  