#result-list {
    /* background-color: rgb(131, 120, 103); */
    background-color: rgb(204, 204, 204);
    border-radius: 5px;
    margin: 10px;
    font-size: 20px;
    font-weight: 600;
    color: black;
    line-height: 1.7;
}

li {
    border-radius: 10px;
    margin: 10px;
}

ul {
    padding-inline-start: 0px;
}
/*^ fixes issue with default browser styling*/

.results {
    display: block;
    width: 50%;
}

.pie-area {
    text-align: center;
}

#results-button{
    padding: 10px;
    text-align: center;
}

#results-button button{
    border-radius: 5px;
    border: 1px solid white;
    margin: 0 auto;
    padding: 15px;
    background-color: #32936F;
    color: white;
}
#results-button button:hover{
    background-color: rgb(31, 97, 73)
}
@media screen and (max-width: 500px){

    #results-button button{
        width: 40%;
        padding: 5px;
    }

}