li{
    background-color: black;
}

.results {
    display: flex;
    flex-direction: column;
    color: white;
    margin: 0 auto;
    border: 1px solid black;
    background-color: rgb(65, 63, 50);
    max-width: 50%;

}