#phantom-footer{
  display: block;
  padding: 0px;
  height: 10vh;
}

#footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(180deg, rgb(212, 212, 212) 10%, rgb(185, 185, 185) 150%, rgb(212, 212, 212) 10% );
  color: black;
  border-Top: 1px solid rgb(184, 184, 184);
  padding: 10px;

  position: fixed;
  left: 0;
  bottom: 0px;
  height: 15px;
  width: 100%;
  overflow: hidden;
}

#title-footer{
  margin: 0 10px 5px 10px;
}

#copy-footer{
  margin: 0 10px 3px 10px;
}


/* @media screen and (min-width: 760px) {
  #phantom-footer{
    display: block;
    padding: 0px;
    min-height: 21vh;
    bottom: 10px;
    margin-top: 0 auto;
  }

  #footer{
    position: absolute;
    left: 0;
    bottom: 15px;
    height: 15px;
    width: 100%;
    overflow: hidden;
  }
} */
