.AddFoodDiv{
  display:flex;
/*   position:relative;
 */  padding:10px;
 flex-direction: column;
}

.SearchFoodForm {
  display: inherit;
  flex-direction: row;
  
  width: 50%;
}

.AddFoodSearchResultsRow{
  display:flex;
  justify-content:space-between;
  align-items:center;
}
.AddFoodSearchResultsRow div{
  word-break: normal; 
  word-wrap: normal;
}
.AddFoodSearchResultsAddButton{
  flex-grow:0;
  height:40px;
}

.AddFoodSearchResultsSpace{
  flex-basis:20px;
  flex-grow:1;
}

.AddFoodSearchResultsFoodInfo{
  flex-basis:60%;
  flex-grow:1;
}
.AddFoodSearchResultsManu{
  font-weight:550;
}

#search-food-button{
margin:1%;
padding:3%;
}

#add-food-button{
  background-color: rgb(255, 138, 5);
  width: 25%
}
#add-food-button:hover{
  background-color: rgb(255, 84, 5);
}