
.add-food-logo{
  opacity: 1;
  height:35px;
  position:absolute;
  right:0;
  top:0;
  
}

.AddFoodSearchResultsDiv{
  border-bottom: 1px solid grey;
}

.AddFoodSearchResultsRow{
  position:relative;
}
#search-food-button{
  margin: 0 auto;
  color: rgb(0, 0, 0);
  background: linear-gradient(rgb(255, 255, 255), rgb(175, 175, 175));
  border: 1px solid rgb(68, 68, 68);
  font-weight: 500;
  border-radius: 5px;
}

@media screen and (min-width: 800px){
  .add-food-logo{
    opacity: 1;
    width:35px;
  }
 .SearchFoodForm {
  display: inline-block;
  flex-direction: row;
}

.AddFoodSearchResultsRow{
  display:flex;
  flex-flow: row wrap;
  justify-content:space-between;
  padding-left:10%;
  padding-right:10%;
  align-items:center;

}
.AddFoodSearchResultsRow div{
  word-break: normal; 
  word-wrap: normal;
}
.AddFoodSearchResultsAddButton{
  flex-grow:0;
  height:40px;
}
.AddFoodSearchResultsDiv:hover{
  background-color: grey;
  color:white;
  border: 1px solid black;
}


.AddFoodSearchResultsSpace{
  flex-basis:20px;
  flex-grow:1;
}

.AddFoodSearchResultsFoodInfo{
  flex-basis:60%;
  flex-grow:1;
}
.AddFoodSearchResultsManu{
  font-weight:550;
}

#search-food-button{
  margin: 0 auto;
  font-weight: 500;
  border-radius: 5px;
}

#add-food-logo{
  width:15px;
  padding:1%;
}
#add-food-button{
  background-color: rgb(255, 255, 255);
  color:black;
  width: 25%;
  padding: 1%;
  display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.AddFoodSearchResultsPaginate button{
border: 1px solid black;
border-radius:5px;
background-color: white;
}
#next{
  margin-left:2%;
}
#back{
  margin-right: 2%;
}
}

@media screen and (max-width: 799px){
  .SearchFoodForm{
    display: inline-block;
  }
}