

@media screen and (min-width: 500px){
 .SearchFoodForm {
  display: inherit;
  flex-direction: row;
  width: 50%;
  
  
}

.AddFoodSearchResultsRow{
  display:flex;
  justify-content:space-between;
  padding-left:10%;
  padding-right:10%;
  align-items:center;
}
.AddFoodSearchResultsRow div{
  word-break: normal; 
  word-wrap: normal;
}
.AddFoodSearchResultsAddButton{
  flex-grow:0;
  height:40px;
}
.AddFoodSearchResultsDiv:hover{
  background-color: grey;
  color:white;
  border: 1px solid black;
}
.AddFoodSearchResultsDiv{
  border-bottom: 1px solid grey;
}

.AddFoodSearchResultsSpace{
  flex-basis:20px;
  flex-grow:1;
}

.AddFoodSearchResultsFoodInfo{
  flex-basis:60%;
  flex-grow:1;
}
.AddFoodSearchResultsManu{
  font-weight:550;
}

#search-food-button{
margin:1%;
padding:3%;
}
.add-food-logo{
  width:35px;
}
#add-food-button{
  background-color: rgb(255, 255, 255);
  color:black;
  width: 25%;
  padding: 1%;
display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.AddFoodSearchResultsPaginate button{
border: 1px solid black;
border-radius:5px;
background-color: white;
}
#next{
  margin-left:2%;
}
#back{
  margin-right: 2%;
}
}