.login-section {
  margin: 0 auto;
  display: flex;
  flex-direction: column; 
  padding-top: 5%;
  justify-content: center;
  width: 70%;
}
section{
  margin: 0 auto;

}
.login-content {
  display: inherit;
  align-content: flex-start
}

#donut-img{
  width: 50%;
  margin: -5% auto;
}

#register-link-login {
  font-weight: bold;
  text-decoration: black underline
}

#register-link-login:hover {
  color: rgb(29, 16, 175)
}

@media screen and (max-width: 420px) and (min-width: 310px){

  .login-section {
    margin: 0 auto;
    margin-top: 35px;
    display: flex;
    flex-direction: column; 
    padding-top: 5%;
    justify-content: center;
    width: 70%;
  }

  #donut-img{
    width:75%;
  }
}

